<section class="card">
  <a class="card-anchor" href="/api/character/{{id}}">
    <header>{{character_name}}</header>
    <div class="character-card">
      <div class="character-card-stats">
        <p>User: {{user.user_name}}</p>
        <p>Class: {{class.name}}</p>
        <p>Race: {{race.name}}</p>
        <p>Level: {{level}}</p>
        <p>Hit Points: {{class.hit_points}}</p>
        <p>Date Created: {{format_time createdAt}}</p>
      </div>
      <div>
        <img class="character-card-image" src="{{class.image}}" />
      </div>
    </div>
  </a>
</section>