<div class="card">
  <a class="card-anchor" href="/api/character/{{id}}">
    <header>{{character_name}}</header>
    <div class="character-card">
      <div class="character-card-stats">
        <p><strong>User:</strong> {{user.user_name}}</p>
        <p><strong>Class:</strong> {{class.name}}</p>
        <p><strong>Race:</strong> {{race.name}}</p>
        <p><strong>Level:</strong> {{level}}</p>
        <p><strong>Hit Points:</strong> {{class.hit_points}}</p>
        <p><strong>Date Created:</strong> {{format_time createdAt}}</p>
      </div>
      <div class="magiccard3">
        <img class="character-card-image" src="{{class.image}}" />
      </div>
    </div>
  </a>
</div>