<section class="card">
    <a href="/character/{{id}}">
        <header>{{character_name}}</header>
            <p>Class: {{class.name}}</p>
            <p>Race: {{race.name}}</p>
        <p>Level: {{level}}</p>
        <p>Hit Points: {{hit_points}}</p>
        <p>ID: {{id}}</p>
            <p>User ID: {{user_id}}</p>
            <p>Class ID: {{class_id}}</p>
            <p>Date Created: {{createdAt}}</p>
    </a>
</section>
