<!-- Character Template -->
<div id="character-details-template">
  <p><strong>ID:</strong> {{character.id}}</p>
  <p><strong>User ID:</strong> {{character.user_id}}</p>
  <p><strong>Class ID:</strong> {{character.class_id}}</p>
  <p><strong>Level:</strong> {{character.level}}</p>
  <p><strong>Hit Points:</strong> {{character.hit_points}}</p>
  <p><strong>Date Created:</strong> {{character.createdAt}}</p>
</div>