<!-- Character Template -->
<div id="character-details-template">
    <p><strong>ID:</strong> {{id}}</p>
    <p><strong>User ID:</strong> {{user_id}}</p>
    <p><strong>Class ID:</strong> {{class_id}}</p>
    <p><strong>Level:</strong> {{level}}</p>
    <p><strong>Hit Points:</strong> {{hit_points}}</p>
    <p><strong>Date Created:</strong> {{createdAt}}</p>
</div>
