<!-- characters_all.handlebars -->
<div id="characters-list">
    <h1>All Characters</h1>
    <ul>
        {{#each characters}}
            <li>
                <div class="character-details">
                    <p><strong>ID:</strong> {{this.id}}</p>
                    <p><strong>User ID:</strong> {{this.user_id}}</p>
                    <p><strong>Class ID:</strong> {{this.class_id}}</p>
                    <p><strong>Level:</strong> {{this.level}}</p>
                    <p><strong>Hit Points:</strong> {{this.hit_points}}</p>
                    <p><strong>Date Created:</strong> {{this.createdAt}}</p>
                </div>
            </li>
        {{/each}}
    </ul>
</div>

