<!-- Character Template -->
<div class="character-template">
  <div class="strong character-info">
    <h2
      id="character-name"
      class="box-outline"
    >{{character.character_name}}</h2>
    <H2 id="character-class" class="box-outline">Class:
      {{character.class.name}}</H2>
    <h2 id="character-race" class="box-outline">
      Race:
      {{character.race.name}}</H2>
  </div>
  <div class="character-stats">
    <div class="character-abilities">
      <h2 class="character-strength box-outline">Strength: {{character.class.strength}}
        <input id="strength-input" class="box-outline">
      </h2>
      <h2 class="character-intelligence box-outline">Intelligence: {{character.class.intelligence}}
        <input id="intelligence-input" class="box-outline">
      </h2>
      <h2 class="character-dexterity box-outline">Dexterity: {{character.class.dexterity}}
        <input id="dexterity-input" class="box-outline">
      </h2>
    </div>
    <div class="character-image-section" ><img src="{{character.class.image}}" /> <button class="login-font box-outline update-btn" value="submit" type="submit">Update
      Character</button></div>
    <div class="character-abilities">
        <h2 class="character-hp fb box-outline">Hit Points: {{character.class.hit_points}}
          <input id="hp-input" class="box-outline">
        </h2>
      <h2 class="character-wisdom box-outline">Wisdom: {{character.class.wisdom}}
        <input id="wisdom-input" class="box-outline">
      </h2>
      <h2 class="character-constitution box-outline">Constitution: {{character.class.constitution}}
        <input id="constitution-input" class="box-outline">
      </h2>
      <h2 class="character-charisma box-outline">Charisma: {{character.class.charisma}}
        <input id="charisma-input" class="box-outline">
      </h2>
   </div>
  </div>

</div>
<script src="/js/character.js"></script>

